.gallery-page {
    width: 95%;
    margin: 0 auto;
    background-color: lightblue;
}
.gallery-heading {
    font-size: 3rem;
    text-align: center;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
}

.gallery-image {
    display: flex;
    width: 30%;
    min-width: 300px;
    margin: 1rem;
}