* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage {
    margin-top: 3rem;
    width: 100vw;
}

.homepage-header {
    height: 50vh;
    width: 100vw;
    /* // background: url('../../assets/homepage-header-image.jpg');
    // background-size: contain;
    // background-repeat: no-repeat; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 0; */
    margin: 0 auto;
}

.homepage-header-image {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.heading-main {
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top: 10%;
}

.heading-sub {
    font-size:1.25rem;
    position: absolute;
    top: 20%;
}

.contact-button {
    /* width: 10rem; */
    padding: 5px 10px;
    font-size: 1.5rem;
    background-color: rgb(100, 180, 255);
    color: white;
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    top: 30%;
}

.contact-button:hover {
    background-color: white;
    color: rgb(100, 180, 255);
}

.about {
    width: 85%;
    margin: 2rem auto;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.about-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-point {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.accordians {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.accordian {
    background-color: white;
    font-family: "EB Garamond";
    font-size: 1.75rem;
    font-weight: 300;
    color: black;
    cursor: pointer;
    width: 100%; 
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordian:hover {
    background-color: rgba(100, 180, 255, .2);
    

}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    font-size: 1.25rem;
    font-family: "EB Garamond";
    /* display: none; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.service {
    list-style: none;
    font-size: 1.25rem;
    padding: 5px 10px;
}

.accordian-image {
    height: 90%;
}

.footer {
    width: 100%;
    height: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright {
    color: black;
}
.footer-logo {
    height: 90%;
    margin-left: 3px;
}
    