@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 50px 75px;
  background-color: rgb(247, 250, 255);
}

.banner {
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.7),
      50%,
      transparent
    ),
    url("./assets/office-front.jpg");
  /* background-image: url("./assets/office-front.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  /* align-items: center; */
}
.banner__text-box {
  margin-left: 75px;
  margin-top: 125px;
}
.banner h2 {
  font-size: 3.5rem;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
  line-height: 3.5rem;
  font-family: "Open Sans";
  font-weight: 700;
}
.banner h3 {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  font-family: "Open Sans";
}
.btn {
  position: relative;
  background: #0247a0;
  display: inline-block;
  color: white;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 10px;
}
.btn:hover {
  background: #075dcc;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 50px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  /* background: white; */
  /* border-bottom: 1px solid black; */
}
header.sticky {
  background: rgba(0, 0, 0, 0.85);
  padding: 15px 75px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  color: white;
}
.menu {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-family: "Open Sans";
}
header ul li a:hover {
  color: #1a7bfa;
}
header.sticky ul li a {
  color: white;
}
header.sticky ul li a:hover {
  color: #1a7bfa;
}
.logo-image {
  height: 100px;
}
.logo-image img {
  height: 100%;
  object-fit: contain;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
header.sticky .logo {
  color: white;
}
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2 {
  font-weight: 600;
  font-size: 2rem;
}

/* ----- about section ----- */

.about__heading {
  font-size: 24px;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  justify-content: center;
  max-width: 1100px;
}

.about__content-info {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  min-width: 500px;
}

.about__content-infoPoint {
  font-size: 22px;
  line-height: 30px;
  margin: 1rem 0;
  align-items: center;
  text-align: justify;
  width: 50%;
  padding-right: 20px;
  min-width: 250px;
}

.about__content-info img {
  width: 50%;
  min-width: 250px;
  object-fit: cover;
}

.about__content-info h3 {
  margin-bottom: 1rem;
}

.about__content-images {
  display: flex;
  justify-content: center;
  min-width: 500px;
  max-width: 1100px;
}

.about__content-images img {
  width: 50%;
  object-fit: cover;
}

.about__content-extraInfo {
  display: flex;
  margin: 1rem auto;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}

.about__content-subPoint {
  width: 45%;
  height: 300px;
  min-width: 300px;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.about__content-subPoint p {
  font-size: 22px;
  padding: 10px 15px;
  height: 25%;
}
.about__content-subPoint img {
  height: 75%;
  width: 90%;
  object-fit: contain;
}

.content {
  display: flex;
  justify-content: space-between;
}
.content-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.content-box p {
  line-height: 25px;
  font-size: 20px;
}
.w50 {
  min-width: 50%;
}
.img {
  max-width: 100%;
  margin-left: 20px;
}

.certificate {
  width: 200px;
  object-fit: contain;
}

/* --------- image --------- */
.dabc-logo {
  width: 300px;
  margin: 1rem auto;
}
.dabc-logo img {
  width: 100%;
  object-fit: contain;
}

/* ------------ services ------------- */

.services {
  background-color: rgb(247, 250, 255);
}
.heading.white {
  color: black;
}
.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.service {
  background: white;
  color: black;
  height: 225px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  transition: all 0.7s;
  border: 1px solid #016cf8;
  border-radius: 10px;
}
.service:hover {
  background: #016cf8;
  color: white;
}
.service img {
  padding-top: 20px;
  width: 120px;
  object-fit: contain;
}

.service-image {
  margin-top: -15px;
}
.service h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 0 5px;
  padding-bottom: 20px;
}

/* --------- contact ----------- */

.contact {
  background-color: rgb(231, 240, 255);
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1100px;
}
.form-box {
  flex: 0.65;
  min-width: 350px;
}
.form-box form {
  display: flex;
  flex-direction: column;
}
.form-box form h3,
.contactInfo {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.form-box form input,
.form-box form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1rem;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}
.form-box form textarea {
  min-height: 200px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-box form input::placeholder,
.form-box form textarea::placeholder {
  color: #999;
}
.form-box form input[type="submit"] {
  max-width: 100px;
  background: #1a7bfa;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  border-radius: 10px;
}
.form-box form input[type="submit"]:hover {
  background-color: #075dcc;
}
.contactInfo {
  flex: 0.35;
  min-width: 200px;
  margin-right: 1rem;
}
.contactInfo-box {
  position: relative;
}
.contactInfo-box .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contactInfo-box .box .icon {
  height: 40px;
  padding-right: 4px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contactInfo-box .box .text {
  display: flex;
  /* margin-left: 20px; */
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}
.contactInfo-box .box .text h3 {
  font-weight: 500;
  color: #0247a0;
  margin-bottom: 0;
}

/* ---------- copyright ----------- */

.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

/* --------- media queries ----------- */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 5;
  }
  .menu {
    position: fixed;
    top: 80px;
    left: -100%;
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
    z-index: 4;
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid black;
    background: rgb(208, 227, 255);
  }

  .menu-link {
    color: black;
  }
  .menu.active {
    left: 0;
  }

  .menu.active li a {
    color: #111;
    font-size: 1.5rem;
    margin: 10px;
  }

  .toggle {
    width: 40px;
    height: 40px;
    background: url("./assets/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    color: white;
    filter: invert(1);
  }
  .toggle.active {
    background: url("./assets/menu-close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner__text-box {
    margin-left: 50px;
    margin-top: 50px;
  }

  .banner h2 {
    font-size: 3rem;
  }
  .banner h3 {
    font-size: 2rem;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 {
    font-size: 1.6rem;
  }
  .content-box h3 {
    font-size: 1.2rem;
  }
  .content {
    flex-direction: column;
  }
  .w50 {
    margin-bottom: 20px;
  }
  .img {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .services .content .services-box {
    margin: 10px;
  }
  /* .testimonial .content .testimonial-box {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #1a7bfa;
  }
  .testimonial .content .testimonial-box h3 {
    margin-top: 20px;
  } */
}

@media (max-width: 800px) {
  .banner h2 {
    font-size: 2.5rem;
  }
  .banner h3 {
    font-size: 1.75rem;
  }
  .about__content-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .about__content-infoPoint {
    font-size: 22px;
    line-height: 30px;
    margin: 1rem 0;
    align-items: center;
    text-align: justify;
    width: 80%;
    padding-right: 20px;
    min-width: 250px;
    margin: 1rem auto;
  }

  .about__content-info img {
    width: 80%;
    min-width: 250px;
    object-fit: cover;
    margin: 1rem auto;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
  }
  .banner {
    padding: 150px 20px 100px;
  }
  .banner h2 {
    font-size: 2.15rem;
  }
  .banner h3 {
    font-size: 1.5rem;
  }
  section {
    padding: 100px 35px;
  }
  .img {
    max-width: 100%;
    margin-left: 0;
  }
}
